<div class="ui container segments">
  <div class="ui form">
    <div class="ui segment">
      <div class="ui grid">
        <div class="field six wide column">
          <label>Arrival date</label>
          <div class="ui left icon input">
            <i class="calendar icon"></i>
            <input suiDatepicker [(ngModel)]="this.trip.fromDate"
              [pickerMode]="'date'"
              [pickerUseNativeOnMobile]="false">
          </div>
        </div>

        <div class="field six wide column">
          <label>Trip finish date</label>
          <div class="ui left icon input">
            <i class="calendar icon"></i>
            <input suiDatepicker [(ngModel)]="this.trip.toDate"
              [pickerMode]="'date'"
              [pickerUseNativeOnMobile]="false">
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="ui segment">
      <sui-select class="selection" labelField="name"
        [isSearchable]="false" #select
        [options]="this.getCountries()"
        [isDisabled]="getCountries().length <= 0">
        <sui-select-option *ngFor="let option of this.getCountries()"
          [value]="option">
          {{option}}
        </sui-select-option>
      </sui-select>
    </div> -->
    <div class="ui segment">

      <div class="ui grid">
        <div class="field six wide column">
          <label>I am from</label>
          <sui-select [(ngModel)]="this.trip.fromCountry"
            [optionsFilter]="countryFilter"
            [isSearchable]="true"
            [options]="this.getCountries()"
            #selectFrom>
            <sui-select-option *ngFor="let option of selectFrom.filteredOptions "
              [value]="option">{{option}}
            </sui-select-option>
          </sui-select>
        </div>
        <div class="field six wide column">
          <label>I am going to</label>
          <sui-select [(ngModel)]="this.trip.toCountry"
            [optionsFilter]="countryFilter"
            [isSearchable]="true"
            [options]="this.getCountries()"
            #selectTo>
            <sui-select-option *ngFor="let option of selectTo.filteredOptions "
              [value]="option">{{option}}
            </sui-select-option>
          </sui-select>
        </div>
      </div>
    </div>


    <div class="ui segment">
      <button class="ui basic button"
        (click)="onClickSend()" [ngClass]="this.isFormValid()?'':'disabled'">
              <i class="icon send"></i>
              Post
            </button>

    </div>

  </div>
</div>