<div class="ui secondary  menu">
  <a [routerLink]="['/home']" class="item active">
    Home
  </a>
  <a [routerLink]="['/trips']" class="item">
    Trips
  </a>
  <a [routerLink]="['/requests']"
    class="item">
    Requests
  </a>
  <a [routerLink]="['/inbox']" class="item">
  Inbox
</a>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
    <a *ngIf="!this.isSignedIn()" class="ui item"
      [routerLink]="['/login']">
      Login
    </a>
    <a *ngIf="this.isSignedIn()" class="ui item"
      (click)="onClickSignOut()">
      Logout
    </a>
  </div>
</div>


<router-outlet></router-outlet>