<div class="ui container">

  <h1>WELCOME MOTHERFUCKER!</h1>
  <div class="ui grid">
    <div class="six wide column">
      <div class="ui animated button fade"
        tabindex="0" aria-label="Post Trip"
        [routerLink]="['/postRequest']">
        <div class="visible content">
          Post Request</div>
        <div class="hidden content">
          For Buyers
        </div>
      </div>
    </div>
    <div class="six wide column">
      <div class="ui animated button fade"
        tabindex="0" aria-label="Post Trip"
        [routerLink]="['/postTrip']">
        <div class="visible content">
          Post Trip</div>
        <div class="hidden content">
          For Sellers
        </div>
      </div>
    </div>

  </div>

</div>